<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="overflow-auto">
                <!-- MAIN STUFF -->
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../../static/XGBClassifier(alpha.png" class="img-fluid bg-light p-2 border border-secondary" alt="Responsive image" style="height: 100%">
                    </div>
                    <div class="col-sm-6">
                        <img src="../../static/XGBClassifier(alpha_similar.png" class="img-fluid bg-light p-2 border border-secondary" alt="Responsive image" style="height: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>